<%- include('partials/header'); -%>

<header>
  <div class="store">
    <img src="/logo new low res.png" alt="">
  </div>
  <div class="headings">
    <h2>Foolhardy Photography</h2>
    <h3>Photo Store</h3>
    <a href="/photos" class="btn">Buy Photos</a>
  </div>
</header>


<%- include('partials/footer'); -%>