<%- include('partials/header'); -%>

<ul class="photos">
  <li class="photo">
    <a href="https://foolhardyphotography.com/prints" target="_blank"><img src="/basilica 2.jpg" alt="St. Stephen's Basilica"></a>
    <h4>St. Stephen's Basilica</h4>
    <p>One of my favorite shots from Budapest</p>
  </li>
  <li class="photo">
    <a href="https://foolhardyphotography.com/prints" target="_blank"><img src="/denk copy.jpg" alt="Moon halo"></a>
    <h4>Monumental Moon Halo</h4>
    <p>Got lucky to see a moon halo at the Monument to the battle of Nations</p>
  </li>
  <li class="photo">
    <a href="https://foolhardyphotography.com/prints" target="_blank"><img src="/fall in bayern copy.jpg" alt="fall photo"></a>
    <h4>Fall colours in Bayern</h4>
    <p>A peacefull fall shot in Kochel, Bayern, DE </p>
  </li>
  <li class="photo">
    <a href="https://foolhardyphotography.com/prints" target="_blank"><img src="/patterns.jpg" alt="building patterns"></a>
    <h4>Hamburg patterns</h4>
    <p>A nice shot of building patterns in Hamburg</p>
  </li>
  <li class="photo">
    <a href="https://foolhardyphotography.com/prints" target="_blank"><img src="/the-tree-puddle-Recovered.jpg" alt="tree photo"></a>
    <h4>Not quite gentrified</h4>
    <p>This abandoned turn table offers many cool images</p>
  </li>
  <li class="photo">
    <a href="https://foolhardyphotography.com/prints" target="_blank"><img src="/the-way-things-are-percieved copy.jpg" alt="street photo"></a>
    <h4>The way things are percieved</h4>
    <p>The most mundane spot offered up some nice symmetry</p>
  </li>
</ul>

<%- include('partials/footer'); -%>